
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Lugares Cercanos</h2>
            <br>
            <a class="btn-primary btn-sm"  routerLink="/crear/new">Crear nuevo negocio</a>
            <br><br>
            <!-- <ul class="list-group mt-3">
                <ng-container *ngFor="let lugar of lugares; let i=index">
                    <li routerLink="/crear/{{lugar.id}}" class="list-group-item" *ngIf="lugar.estado=='Activo'">
                        {{lugar.nombre}}
                    </li>
                </ng-container>
            </ul> -->
            <!-- <ng-container *ngFor="let lugar of lugares; let i=index">
                <div class="row">
                    <div routerLink="/crear/{{lugar.id}}" *ngIf="lugar.estado=='Activo'" class="col-md" >{{lugar.nombre}}</div>
                    <div *ngIf="lugar.estado=='Activo'" class="col-md-3">Eliminar</div>
                </div>
            </ng-container> -->

            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody  *ngFor="let lugar of lugares; let i=index">
                    <tr>
                    <th scope="row">{{i+1}}</th>
                    <td routerLink="/crear/{{lugar.id}}" *ngIf="lugar.estado=='Activo'" class="col-md">{{lugar.nombre}}</td>
                    <td *ngIf="lugar.estado=='Activo'" class="col-md-3">        
                        <a (click)="eliminar(lugar.id, lugar.nombre)" class="btn btn-danger btn-md">
                            <span class="glyphicon glyphicon-remove"></span> Eliminar 
                        </a>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h2>Destacados</h2>
        </div>
    </div>
</div>
<hr>
<ul>
    <ng-container *ngFor="let lugar of lugares; let i=index" [ngSwitch]="lugar.cercania"> 
    <li  contar-clicks [ngStyle]="{color: (lugar.active) ? 'black' : 'grey'}" [ngClass]="{numero_par: (i+1)%2!==0}" [resaltar]="lugar.plan">
        {{lugar.nombre}} - 
        <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy Cercano</span>
        <span *ngSwitchCase="2" [ngStyle]="{color: 'yellow'}">Cercano</span>
        <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejano</span>
    </li>
</ng-container>
</ul>